<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<script src="static/js/echarts.min.js"></script>
<head>
	<title>Relief a Society Category Bootstrap Responsive Web Template | Home :: w3layouts</title>

	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Relief Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="static/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
	<link href="static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
	<link href="static/css/fontawesome-all.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700" rel="stylesheet">
</head>

<body>

	<div class="top_header" id="home">
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="nav_top_fx_w3layouts_agileits">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					    aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="logo_wthree_agile">
						<h1>
							<a class="navbar-brand" href="index.html">
								<i class="fas fa-heart" aria-hidden="true"></i> 调研报告
								<span class="desc">携手共创，让世界更美好</span>
							</a>
						</h1>
					</div>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<div class="nav_right_top">
						<ul class="nav navbar-nav">
							</li>
							<li>
								<a class="scroll" href="#about">研究缘起</a>
							</li>
							<li>
								<a class="scroll" href="#services">无结构访谈</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">模式总结
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a class="scroll" href="#ourcourse">运行流程</a>
									</li>
									<li>
										<a class="scroll" href="#price">项目进展</a>
									</li>
								</ul>
							</li>


							<li>
								<a class="scroll" href="shu">报告原文</a>
							</li>

						</ul>
					</div>
				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
		<div class="clearfix"></div>
	</div>
	<!-- banner -->
	<div class="banner_top">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1" class=""></li>
				<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="container">
						<div class="carousel-caption">
							<h3>社会组织参与乡村振兴作用路径研究</h3>

							<div class="bnr-button">
							</div>

						</div>
					</div>
				</div>
				<div class="item item2">
					<div class="container">
						<div class="carousel-caption">
							<h3>中华慈善总会“幸福家园”</h3>
							<div class="bnr-button">
                            </div>
						</div>
					</div>
				</div>
				<div class="item item3">
					<div class="container">
						<div class="carousel-caption">
							<h3>因贫困，而努力，而改变<h3>
							<div class="bnr-button">
							</div>

						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="fa fa-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="fa fa-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
			<!-- The Modal -->
		</div>
	</div>
	<!--//banner -->
	<div class="banner_bottom donate-log">
		<div class="donate-inner">
			<div class="col-md-4 donate-f-login">
			<div class="col-md-8 donate-info">
				<h4>Leave us a Message</h4>
				<p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque
					convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar neque
					pharetra ac.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--/ab-->
	<div class="banner_bottom" id="about">
		<div class="container">
			<h3 class="tittle_w3_agileinfo">研究缘起</h3>
			<div class="inner_sec_info_w3layouts">
				<div class="help_full">
					<ul class="rslides" id="slider4">
						<li>
							<div class="respon_info_img">
								<img src="static/images/banner3.jpg" class="img-responsive" alt="Relief">
							</div>
							<div class="banner_bottom_left">
								<h4>政策背景</h4>
								<p>党的十九大报告中明确提出实施乡村振兴战略，并指出：“加强社区治理体系建设，推动社会治理重心向基层下移，发挥社
                                    会组织作用，实现政府治理和社会调节、居民自治良性互动”。除了经济、政治与文化建设，乡村振兴也涵盖社会建设，
                                    而社会建设在政府推动的同时，也需要社会力量的广泛参与。</p>
								<p>近两年来，国家陆续出台多个政策文件支持推进乡村振兴，动员引导社会组织助力乡村振兴。</p>
                                <a class="btn btn-primary btn-lg" href="bar2" role="button">Learn More </a>
								</div>
						</li>
						<li>
							<div class="respon_info_img">
								<img src="static/images/banner2.jpg" class="img-responsive" alt="Relief">
							</div>
							<div class="banner_bottom_left">
								<h4>社会背景</h4>
								<p>改革开放以来，社会空间扩大，社会结构由一元走向分化，为现代社会组织的发展壮大提供了广阔的空间。在中央不断加强
                                    社会管理和规范组织建设下，我国现代社会组织在数量持续增长，规模不断扩大。</p>
								<p>面对信息不公开、透明度缺乏导致的公信力缺失，互联网的发展在很大程度上改善了这个问题。社会组织与互联网公开募捐
                                    平台进行合作，定期披露善款用款情况与项目进展，能够有效保障信息公开，让大众“捐得放心”。2020年民政事业发展统
                                    计公报》显示，截至2020年底，全国共有社会组织89.4万个，比上年增长3.2％；吸纳社会各类人员就业1061.9万人，
                                    比上年增长5.2％。</p>
                                <a class="btn btn-primary btn-lg" href="bar" role="button">Learn More </a>
								</div>
						</li>
						<li>	<div class="respon_info_img">
								<img src="static/images/banner1.jpg" class="img-responsive" alt="Relief">
							</div>
							<div class="banner_bottom_left">
								<h4>互联网公益</h4>
								<p>中华民族自古以来就有着乐善好施、扶贫济困的传统美德，历史上更是存在着各种形式的慈行善举。随着《为慈善正名》的
                                    发表，一度被边缘化的慈善事业重新得到认可，我国的民间慈善事业进入崭新的发展时期。</p>
								<p>随着公益行业不断发展与科技的进步，公益呈现百花齐放的趋势，互联网公益兴起。互联网公益作为新兴社会领域，在经历
                                    1.0“公益+互联网”、2.0“互联网+公益”阶段后，已正式进入互联网公益3.0阶段，公益携带的互联网基因和互联网具备
                                    的公益内在属性相联合，互联网和公益将真正融为一体，助力互联网公益不断发展。</p>
								</div>
						</li>
						<li>
							<div class="respon_info_img">
								<img src="static/images/banner4.jpg" class="img-responsive" alt="Relief">
							</div>
							<div class="banner_bottom_left">
                               	<h4>社会组织、互联网公益与乡村振兴</h4>
								<p>在社会组织助力乡村振兴的发展路途中，互联网公益的加入大大拓宽了慈善方式与渠道，用互联网手段和现代科技方式赋能
                                    乡村发展，助力乡村振兴。在信息流通速度快、信息量庞大的互联网时代，互联网手段已经应用与各个领域。将互联网信
                                    息手段应用于乡村振兴领域，必然能够使其成为乡村发展的助推器和催化剂。</p>
								<p>社会组织联合互联网公益平台开展募捐活动，互联网在助力慈善精神传播，便捷慈善行为的同时，能够大幅提升公益透明度，
                                    保障公众能够及时追踪、监督项目进展以及善款使用情况，提高慈善信任度。</p>
                                </div>
						</li>
					</ul>
				</div>
			</div>
			<div class="news-main">
				<div class="col-md-6 banner_bottom_left">
					<div class="banner_bottom_pos">
						<div class="banner_bottom_pos_grid">
							<div class="col-xs-3 banner_bottom_grid_left">
								<div class="banner_bottom_grid_left_grid">
									<div class="dodecagon b1">
										<div class="dodecagon-in b1">
											<div class="dodecagon-bg b1">
												<span class="fas fa-camera-retro" aria-hidden="true"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-9 banner_bottom_grid_right">
								<h4>中华慈善总会</h4>
								<p>新中国首家以“中华”、“慈善”命名的全国性非营利公益社会团体。</p>
								<div class="barWrapper">
									<span class="progressText">
										<b>建立自1994年</b>
									</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="50">
											<span class="popOver" data-toggle="tooltip" data-placement="top" title="27年"> </span>
										</div>
									</div>
								</div>
							</div>


							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-6 banner_bottom_left">
					<div class="banner_bottom_pos">
						<div class="banner_bottom_pos_grid">
							<div class="col-xs-3 banner_bottom_grid_left">
								<div class="banner_bottom_grid_left_grid">
									<div class="dodecagon b1">
										<div class="dodecagon-in b1">
											<div class="dodecagon-bg b1">
												<span class="far fa-thumbs-up" aria-hidden="true"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-9 banner_bottom_grid_right">
								<h4>募捐情况</h4>
								<p>截至2021年底，共募集慈善款物价值达1400多亿元，团体会员及项目覆盖31个省、自治区、直辖市，已拥有460余个会员单位及个人会员。</p>
								<div class="barWrapper">
									<span class="progressText">
										<b>覆盖范围</b>
									</span>
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100">
											<span class="popOver" data-toggle="tooltip" data-placement="top" title="91%"> </span>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
    <!--//ab-->
	<!--/what-->
	<div class="works" id="services">
		<div class="container">
			<h3 class="tittle_w3_agileinfo cen">无结构访谈</h3>
			<div class="inner_sec_info_w3layouts">
				<div class="ser-first">
					<div class="col-md-3 ser-first-grid text-center">
						<div class="dodecagon">
							<div class="dodecagon-in">
								<div class="dodecagon-bg">
									<span class="far fa-edit" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<h3>访谈对象</h3>
						<p>中华慈善总会“幸福家园”项目主管林炉生</p>
					</div>
					<div class="col-md-3 ser-first-grid text-center">
						<div class="dodecagon">
							<div class="dodecagon-in">
								<div class="dodecagon-bg">
									<span class="far fa-paper-plane" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<h3>访谈形式</h3>
						<p>线上无结构访谈</p>
					</div>
					<div class="col-md-3 ser-first-grid text-center">
						<div class="dodecagon">
							<div class="dodecagon-in">
								<div class="dodecagon-bg">
									<span class="far fa-star" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<h3>访谈时间</h3>
						<p>2022年8月15日晚20：00-21：04</p>
					</div>
					<div class="col-md-3 ser-first-grid text-center">
						<div class="dodecagon">
							<div class="dodecagon-in">
								<div class="dodecagon-bg">
									<span class="far fa-user" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<h3>访谈主题</h3>
						<p>“幸福家园”项目的设立初衷、愿景、当前发展与未来规划</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>
	</div>
	<!--//what-->
        <div class="banner_bottom">
		<div class="container">
			<h3 class="tittle_w3_agileinfo"> 访谈文本分析
			</h3>
			<div class="inner_sec_info_w3layouts">
				<div class="last_sec">
					<div class="col-md-6 last-img-info-text">
						<h4>数据清洗</h4>
						<p>在进行分词与去除停用词后，我们能够更加凝练地提取出访谈主题，研究发现在访谈中林炉生总监将慈善工程主要分为两种类型，一种为“扶贫济困”“基础建设”类型的，例如“路灯”“公园”“水道”“自来水”等，这种类型的慈善工程主要出现在“八九十年代”“传统慈善”时期，出现的原因是国家“整体贫困”最需要“赚钱”“吃饱饭”。而如今的慈善活动应当具备“新时代”“新元素”“综合性”的特征，其中最重要的内容就是“互联网”的使用。
						</p>
						<div class="ab_button">
							<a class="btn btn-primary btn-lg" href="single.html" role="button">Read More </a>
						</div>
					</div>
					</div>
                <div class="col-md-6 last-img-info-text">
						<h4>高频词统计与词云生成</h4>
						<p>团队对前三十名高频词汇的分析如下：幸福家园作为公益慈善项目，其主旨与其他类型的公益慈善项目相同，希望通过自身平台能够帮助更多弱势群体摆脱贫困，更好地发展。然而，与传统的慈善项目有所不同，幸福家园作为新时代公益项目，更好地结合了现代化的发展因素，以互联网为媒介进行筹款，再将捐款发放到受助群众的手中，而对于捐款的使用，幸福家园平台提倡各地慈善项目的领导班子成员能够将其应用于更加优质的“小而美”的项目中，不以基础建设、大操大办为慈善常态，而应该走进受助群众的生活，发掘更多符合群众需求的、能带来更多效益的慈善项目。
						</p>
						<div class="ab_button">
							<a class="btn btn-primary btn-lg" href="single.html" role="button">Read More </a>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="events-coming">
		<h3 class="tittle_w3_agileinfo cen"> “幸福家园”新项目倒计时
		</h3>
		<div class="inner_sec_info_w3layouts">
			<div class="content">
				<div class="simply-countdown-custom" id="simply-countdown-custom"></div>
			</div>
		</div>
	</div>
	<!--/last-->
	<div class="banner_bottom">
		<div class="container" id="ourcourse">
			<h3 class="tittle_w3_agileinfo"> 运行流程
			</h3>
			<div class="inner_sec_info_w3layouts">
				<div class="last_sec">
					<div class="col-md-6 last-img-info-text">
						<h4> 项目流程 </h4>
						<p>在认领创建环节，参与活动的慈善组织动员辖区基层慈善组织进行注册以及实名认证，认领村社基金，组建监管领导小组。在县（市、区）慈善总会完成后，村社平台即可正常使用。
                           项目上线过程中，“幸福家园”工程平台监管领导小组通过民主讨论并报村（居）委员会同意后提出慈善捐款项目，经县（市、区）慈善总会审核提交到“幸福家园”工程募捐信息平台，进入资金筹集阶段。
                           最后进入善款使用环节，平台监管领导小组通过召开民主评议会进行在线民主投票，若超过半数投票则视为同意批款。在平台系统向所在县级慈善总会提交用款申请，以及县（市、区）慈善总会每月上旬向中华慈善总会提交拨付申请后，中华慈善总会将所募资金通过各级慈善总会拨付至相关村社，相关村社在收到并使用善款后需进行使用反馈。
						</p>

                        <h4> 筹款流程 </h4>
                        <p>在资金筹集环节，村社基于自身需求提出对应项目，并自主发起项目筹款；当到了筹款期限后，若村社筹集额达到最低筹款额度，即可
                            向中华慈善总会申请拨付，进入资金拨付环节。
                           总会将最低筹款额度设置为预筹款项的三分之一，以保证项目正常开展。筹款金额不足预筹款项的三分之一时，会延长筹款期限。若难
                            以筹款进行实施，村社可以将所筹资金申请运用于其他项目。若筹款金额不低于预筹款项的三分之一且到达筹款期限，村社的项目监
                            管委员会可以提出资金拨付申请。
                           资金拨付后，村社需要在平台上对资金使用情况进行披露，提供相应的票据、签单等。中华慈善总会也会与各地慈善总会进行合作，对
                            项目资金使用情况进行抽查和监管。
						</p>

                        <h4> 拨款流程 </h4>
                        <p>幸福家园”村社互助项目由“公益宝”提供平台支持，项目运行流程可分为登录、进入、加入、认领、发起、初审、转发、用钱、拨钱以及结算十个步骤。村（居）民以及关心家乡建设的热心人士首先登录公益宝或项目运行公众号，进入幸福家园，加入并认领村社，提交项目资料发起申请。通过系统审核后，可转发至微信朋友圈募捐。通过平台所筹集的善款根据需求向接收善款的组织申请拨款，用钱申请审核通过后，将款项定期拨付至村社集体账户或通知村社负责人领取，并完成结算。
						</p>
                        <img src="static/images/img.png" class="img-responsive" alt="Relief">
						<div class="ab_button">
						</div>
					</div>
                </div>
			</div>
		</div>
	</div>
	<!--//last-->
	<!--/price-->
	<div class="price-sec" id="price">
		<div class="container">
			<h3 class="tittle_w3_agileinfo">项目进展</h3>
			<div class="inner_sec_info_w3layouts">
				<div class="col-md-4 last-img-info-text">
					<h4>项目成果</h4>
					<p>“幸福家园”村社互助项目是目前全国规模最大的基于村社的互联网公益，真正做到下沉村社，以互联网技术助力乡村振兴，具有较大的社会影响力。工程实施以来，累计筹款79381.67万元，认领村舍30596个，爱心人次119.63万人，在不同省份均取得明显成效，社会效果好，真正惠及广大群众的生活。
					</p>
                    <h4>项目成果</h4>
                    <p>从宏观层面来看，“幸福家园”工程成为“引路人”，起到引领示范作用。未来的慈善离不开互联网工具，“掌上慈善”成为趋势。互联网平台将社会资源与村社振兴现实需求进行有效对接，发挥网络慈善的优势，解决村社的具体问题，实现资源价值最大化。</p>
                    <p>“幸福家园”工程关联多端，促使中华慈善总会与省、市、县三级慈善会系统相互连接、互联互通，优化行业生态，促进整个慈善会系统的整合与完善。</p>
                    <p>工程以乡情乡愁为纽带，吸引、鼓励离乡在外的成功人士加入村社，为家乡发展助力，打造一个老乡互助、精准帮扶的新“家园”，开发社会力量助力慈善新动能——“乡情”慈善资源，有效扩展慈善募集的渠道，大幅提升筹款的规模。</p>
                    <p>一般而言，村和社区不具备公开募捐资格，但村社加入到“幸福家园”平台后，不仅依托各级慈善会的监管获得公开募捐的资格与权限，还可以通过互联网公益募集资金，发展网上众筹与线下募集结合的双线模式。</p>
				</div>
			</div>
		</div>
	</div>
	<!--//price-->
	<!-- Modal1 -->
	<div class="modal fade" id="myModal1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header book-form">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Sign up Form</h4>
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Your Name" required="" />
						<input type="email" name="Email" class="email" placeholder="Email" required="" />
						<input type="password" name="Password" class="password" placeholder="Password" required="" />
						<div class="check-box">
							<input name="chekbox" type="checkbox" id="brand" value="">
							<label for="brand">
								<span></span>Remember Me.</label>
						</div>
						<input type="submit" value="Sign Up">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!-- footer -->
	<!-- //footer -->
	<script type="text/javascript" src="static/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.js"></script>
	<!-- script for responsive tabs -->
	<script src="static/js/easy-responsive-tabs.js"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!--// script for responsive tabs -->
	<script src="static/js/responsiveslides.min.js"></script>
	<script>
		// You can also use "$(window).load(function() {"
		$(function () {
			// Slideshow 4
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});

		});
	</script>
	<script type="text/javascript" src="static/js/all.js"></script>
	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>

	<!-- js -->
	<script type="text/javascript" src="static/js/simplyCountdown.js"></script>
	<link href="static/css/simplyCountdown.css" rel='stylesheet' type='text/css' />
	<script>
		var d = new Date();
		simplyCountdown('simply-countdown', {
			year: d.getFullYear(),
			month: d.getMonth() + 2,
			day: 25
		});
		simplyCountdown('simply-countdown-custom', {
			year: d.getFullYear(),
			month: d.getMonth() + 2,
			day: 25
		});
		$('#simply-countdown-losange').simplyCountdown({
			year: d.getFullYear(),
			month: d.getMonth() + 2,
			day: 25
		});
	</script>
	<!--js-->
	<!--/tooltip -->
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip({
				trigger: 'manual'
			}).tooltip('show');
		});

		// $( window ).scroll(function() {
		// if($( window ).scrollTop() > 10){  // scroll down abit and get the action
		$(".progress-bar").each(function () {
			each_bar_width = $(this).attr('aria-valuenow');
			$(this).width(each_bar_width + '%');
		});

		//  }
		// });
	</script>
	<!--//tooltip -->
	<!-- Smooth-Scrolling-JavaScript -->
	<script type="text/javascript" src="static/js/easing.js"></script>
	<script type="text/javascript" src="static/js/move-top.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll, .navbar li a, .footer li a").click(function (event) {
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //Smooth-Scrolling-JavaScript -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
									var defaults = {
							  			containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
							 		};
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>


	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>

	<!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
	<script type="text/javascript" src="static/js/jquery-1.7.2.js"></script>
	<script src="static/js/jquery.quicksand.js" type="text/javascript"></script>
	<script src="static/js/script.js" type="text/javascript"></script>
	<script src="static/js/jquery.prettyPhoto.js" type="text/javascript"></script>
	<!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->


</body>

</html>